.about > h2 {
    font-size: 37px;
    color: #31708E;
    text-align: left;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    font-family: Arial, Helvetica, sans-serif;
}

.about > h3 {
    margin-left: 45px;
    color: #CD7F32;
    margin-bottom: 0px !important;
    font-family: Arial, Helvetica, sans-serif;
}

.about__description {
    display: flex;
    z-index: 1;
    margin-left: 5px;
    margin-right: 5px;
}

.about__description > p {
    margin-left: 40px;
    margin-right: 20px;
    font-size: 22px;
    color: #1E4258;
}

.about__description > img {
    width: 180%;
    height: 900px;
}

.about__heading > h1 {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-evenly;

}

.row__1 {
    display: flex;
    z-index: 1;
    margin-left: 5px;
    margin-right: 5px;
}

.row__1 > img {
    max-height: 800px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 15px;
}