.header {
    /* background-color: #ECECEC; */
    background-color: #EDEAE5;
}

.header__logo {
    width: 82px;
    height: 82px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 18px;
}

.header__Nav {
    display: flex;
    justify-content: center;
}

.header__Option {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
}

.header__optionlineOne{
    font-size: 20px;
}

.header__link {
    /* color: #026670; */
    color: #1E4258;
    /* color: #31708E; */
    text-decoration: none;
}