.header {
    /* background-color: #ECECEC; */
    background-color: #EDEAE5;
    display: flex;
    align-items: center;
}

.header__search {
    display: flex;
}

.header__searchInput {
    height: 12px;
    padding: 10px;
    border: none;
    border-radius: 10px;
}

.header__searchIcon {
    padding: 5px;
    height: 22px !important;
    color: #1E4258;
}

.header__logo {
    object-fit: contain;
    width: 82px;
    height: 82px;
    margin-left: 20px;
    margin-right: 20px;
    /* margin-top: 10px; */
}

.header__nav {
    display: flex;
    flex: 1;
    justify-content: space-evenly;
}

.header__option {
    display: flex;
    /* flex-direction: column; */
    /* margin-left: 10px;
    margin-right: 10px; */
}

.header__optionlineOne{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.header__link {
    /* color: #026670; */
    color: #1E4258;
    /* color: #31708E; */
    text-decoration: none;
}

.header__icons {
    display: flex;
    /* justify-content: flex-end; */
    /* margin-left: 200px; */
}

.header__person {
    color: #1E4258;
}

.header__cart {
    color: #1E4258;
}

/* .header__favorite {
    color: white;
} */